#dashboard {
  padding: 5px;
  height: 100vh;
  width: 300px;
  background-color: #fcfaf6;
  overflow: auto;
}
.userDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.profile {
  border: 1px solid;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}

.profile img {
  width: 100%;
}
.userDiv p {
  font-size: 20px;
  margin-left: 10px;
}
.addCategoriesDiv {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.addCategoriesDiv form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.addCategoriesDiv form input {
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
  outline: none;
  padding-left: 5px;
  width: 100%;
}

.addCatergoriesBtn {
  height: 30px;
  width: 30px;
  background-color: green;
  color: white;
  font-size: 20px;

  border-radius: 100%;
  cursor: pointer;
  border: none;
}

.addCategoriesDiv label {
  font-size: 16px;
  margin-left: 10px;
}

.submitCategoryBtn {
  margin-left: 10px;
  height: 30px;
  width: 50px;
  border-radius: 2px;
  border: none;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.trashbinBtn {
  height: 25px;
  width: 25px;
  overflow: hidden;
  cursor: pointer;
}
.trashbinBtn img {
  margin-top: 2px;
  height: 20px;
}
.addCategoriesDiv .categoriesDiv div h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
